<div class="buttonMargin">
    <h3 class="text-center">Admin Orders</h3>
    <span class="pull-right">
        <label for="toggleForOrderCompleted">Display Completed Orders</label>
        <input type="checkbox" id="toggleForOrderCompleted" ng-model="completeCheckBox" />
    </span>

    <label>Search:</label> <input type="text" ng-model="pageSearch.lookup" placeholder="Search" />
</div>
<div>
    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>
                <th><a ng-click="predicate='orderId'; reverse=false">Order Id</a>(<a ng-click="predicate='-orderId'; reverse=false">^</a>)</th>
                <th><a ng-click="predicate='lastName'; reverse=false">Employee Name</a>(<a ng-click="predicate='-lastName'; reverse=false">^ </a>)</th>
                <th><a ng-click="predicate='departmentName'; reverse=false">Department</a>(<a ng-click="predicate='-departmentName'; reverse=false">^</a>)</th>
                <th><a ng-click="predicate='beginTimestamp'; reverse=false">Date / Time Requested</a>(<a ng-click="predicate='-beginTimestamp'; reverse=false">^</a>)</th>
                <th>Order Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ord in filtered = pageItems | filter:onlyIncomplete | orderBy:predicate:reverse | filter:pageSearch | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" ng-click="getOrder(ord.orderId)">
                <td>{{ord.orderId}}</td>
                <td>{{ord.firstName + ' ' + ord.lastName}}</td>
                <td>{{ord.departmentName}}</td>
                <td>{{ord.beginTimestamp | date: 'short'}}</td>
                <td><h5 ng-hide="ord.isComplete == false" class="text-success">Order Complete</h5><h5 ng-hide="ord.isComplete == true" class="text-danger">Order Pending</h5></td>
            </tr>
        </tbody>

    </table>
</div>
<div class="text-center">
    <pagination ng-model="currentPage" max-size="noOfPages > 10 ? 10 : noOfPages" total-items="totalItems" max-size="10" items-per-page="entryLimit" boundary-links="true"></pagination>
</div>