<h3>Password Change Required</h3>

<div class="wholePage">
    <div class="col-lg-6">
        <label for="newPassInput">New Password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><!--&nbsp; BECAUSE ITS FUNNY-->
        <input type="password" id="newPassInput" ng-model="newPassword" /><br />
        <label for="newPassConfirmInput">Confirm Password: &nbsp;</label>
        <input type="password" id="newPassConfirmInput" ng-model="newPassConfirmInput" /><br />
        <input type="button" ng-disabled="!(newPassConfirmInput == newPassword) && newPassInput.length" value="Save" ng-click="updatePassword()" />
    </div>
    <div class="col-lg-6">
        <p>Password must be at least 8 characters</p>
    </div>
</div>