<div>
    <h3 class="text-center">Users</h3>

    <div class="buttonMargin">
        <label>Search:</label> <input type="text" ng-model="pageSearch.lookup" placeholder="Search" />
        <button class="btn btn-success pull-right buttonMargin" ng-click="newUser()">Add User</button><br />
    </div>
</div>
<div>
    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>
                <th><a ng-click="predicate='userName'; reverse=false">User Name</a>(<a ng-click="predicate='-userName'; reverse=false">^</a>)</th>
                <th><a ng-click="predicate='email'; reverse=false">Email</a>(<a ng-click="predicate='-email'; reverse=false">^</a>)</th>
                <th><a ng-click="predicate='firstName'; reverse=false">First Name</a>(<a ng-click="predicate='-firstName'; reverse=false">^</a>)</th>
                <th><a ng-click="predicate='lastName'; reverse=false">Last Name</a>(<a ng-click="predicate='-lastName'; reverse=false">^</a>)</th>
                <th><a ng-click="predicate='departmentName'; reverse=false">Department Name</a>(<a ng-click="predicate='-departmentName'; reverse=false">^</a>)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in filtered = pageItems | orderBy:predicate:reverse | filter:pageSearch | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" ng-click="getUser(user.userId)">
                <td>{{user.userName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.departmentName}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <pagination ng-model="currentPage" max-size="noOfPages > 10 ? 10 : noOfPages" total-items="totalItems" max-size="10" items-per-page="entryLimit" boundary-links="true"></pagination>
</div>
